*{
    background-color: #141A29;
    color: #F4F2F4;
    font-weight: 100;
    font-family: 
        'Helvetica Neue', Helvetica, Arial, sans-serif,
        'IBM Plex Sans JP', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 15px 40px;
    border-bottom: 0.1px solid #6C94AD;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        display: block;
        font-size: 30px;
        letter-spacing: 0.05em;
        font-weight: 500;
        @media screen and (max-width: 768px) {
            font-size: min(20px, 6vw);
        }
    }
    span {
        color: #6C94AD;
        font-weight: 500;
    }
    nav ul {
        display: flex;
        gap: 50px;
    }
    .navigate {
        font-size: 20px;
        transition: 0.3s;
        font-weight: 500;
        &:hover {
            color: #6C94AD;
        }
        @media screen and (max-width: 768px) {
            font-size: min(15px, 5vw);
        }
    }
    @media screen and (max-width: 480px) {
        padding: 10px 5px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

.hero {
    height: 850px;
    width: 100%;
    background-image: url(/img/hero_background.jpg);
    background-size: cover;
    background-position: center bottom;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
    @media screen and (max-width: 480px) {
        height: 450px;
    }

    h1 {
        /* font-size: 80px; */
        font-size: clamp(40px, 8vw, 80px);
        font-weight: 700;
        background-color: transparent;
        @media screen and (max-width: 480px) {
            font-size: clamp(20px, 8vw, 40px);
        }
    }
    p {
        /* font-size: 40px; */
        font-size: clamp(15px, 3.5vw, 40px);
        background-color: transparent;
        margin-top: 40px;
        @media screen and (max-width: 480px) {
            font-size: clamp(5px, 3.5vw, 15px);
        }
    }
    a {
        display: grid;
        place-items: center;
        width: 60px; height: 60px;
        background-color: #6C94AD;
        border-radius: 50%;
        box-shadow: 0px, 12px, 20px rgb(0 0 0/ 0.1);
        position: absolute;
        left: 50%;
        bottom: 0;
        translate: -50% 50%;
        img {
            width: 30px; height: 30px;
            background-color: transparent;
        }
    }
}

.heading-group {
    background-color: transparent;
    text-align: center;
    margin: 0 0 60px;
    h2 {
        color: #C18F00;
        /* font-size: 60px; */
        font-size: clamp(50px, 5vw, 65px);
        font-weight: 700;
        @media screen and (max-width: 480px) {
            font-size: clamp(20px, 8vw, 50px);
        }
    }
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
    background-color: transparent;
    @media screen and (max-width: 480px) {
        padding: 0 20px;
    }
}

.layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: transparent;
    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.main-section {
    padding: 80px 0;
    .image {
        border-radius: 20px;
        overflow: hidden;
        margin-top: 100px;
        @media screen and (max-width: 480px) {
            margin: 0 20px;
            width: 80%;
            display: flex;
            align-items: center;

        }
    }
    .portfolioinfo {
        .name {
            margin-bottom: 10px;
            h5 {
                font-size: min(25px, 1.5vw);
                /* margin-top: 40px; */
                padding-left: 20px;
                @media screen and (max-width: 480px) {
                    /* font-size: 15px; */
                    font-size: min(25px, 4vw);
                    margin-top: 0px;
                    padding-left: 0;
                }
            }
            h3 {
                font-size: clamp(40px, 5vw, 65px);
                font-weight: 500;
                @media screen and (max-width: 480px) {
                    /* font-size: 35px; */
                    font-size: clamp(20px, 8vw, 35px);
                }
                span {
                    font-size: 40px;
                    font-size: clamp(10px, 4vw, 45px);
                    font-weight: 300;
                    letter-spacing: 0.1em;
                    @media screen and (max-width: 480px) {
                        font-size: 25px;
                        font-size: clamp(10px, 6vw, 25px);
                    }
                }
            }           
        }

        p {
            font-size: min(25px, 1.5vw);
            .br-mobile {
                display: none;
              }
            /* letter-spacing: 0.05em; */
            @media screen and (max-width: 480px) {
                /* font-size: 15px; */
                font-size: min(25px, 4.2vw);
                margin-top: 0px;
                padding-left: 0;
                .br-mobile {
                    display: inline;
                }
            }
        }
        .block {
            margin-top: 30px;
            h4 {
                font-size: min(30px, 1.7vw);
                font-weight: 400;
                margin: 0.5em 0 0.1em;
                /* padding-bottom: 0.5em; */
                @media screen and (max-width: 480px) {
                    /* font-size: 5vw; */
                    font-size: min(25px, 4.2vw);
                }
                span {
                    font-size: 20px;
                    padding-left: 1.5em;
                    @media screen and (max-width: 480px) {
                        padding-left: 1em;
                        font-size: 5vw;
                        /* font-size: min(30px, 5vw); */
                    }
                }
            }        
            p{
                font-size: min(25px, 1.5vw);
                /* margin-top: 20px; */
                padding-left: 1.5em;
                /* padding-bottom: 1em; */
                @media screen and (max-width: 480px) {
                    /* font-size: 5vw; */
                    font-size: min(25px, 4vw);
                    /* margin-top: 5px; */
                }
            }
        }
    }
    .title{
        /* font-size: 30px; */
        font-size: 2vw;
        background-color: transparent;
        h3{
            background-color: transparent;
            font-weight: 700;
            @media screen and (max-width: 480px) {
                text-align: center;
                font-size: 6vw;
            }
        }
    }
    .content {
        background-color: transparent;
        h5 {
            background-color: transparent;
            /* font-size: 20px; */
            font-size: min(30px, 1.5vw);
            font-weight: 600;
            padding-bottom: 0.5em;
            @media screen and (max-width: 480px) {
                font-size: 4vw;
                margin-top: 0px;
                padding-top: 0px;
            }
        }
        span{
            background-color: transparent;
            /* font-size: 17px; */
            font-size: min(25px, 1.2vw);
            font-weight: 200;
            @media screen and (max-width: 480px) {
                font-size: 3.5vw;
                margin-top: 0px;
                padding-top: 0px;
            }
        }
        p {
            background-color: transparent;
            /* font-size: 20px; */
            font-size: min(30px, 1.5vw);
            font-weight: 400;
            padding-left: 1em;
            padding-bottom: 1em;
            @media screen and (max-width: 480px) {
                font-size: 4vw;
                margin-top: 0px;
                padding-top: 0px;
            }
        }
    }

    .carrer {
        padding: 30px 0;
        background-color: #0F1523;
    }

    .performance {
        padding: 30px 0;
        .content {
            ul li{
                font-size: min(30px, 1.2vw);
                font-weight: 200;
                text-indent: -1em;
                padding-left: 1em;
                padding-bottom: 10px;
                span {
                    font-size: min(30px, 1.2vw);
                    font-weight: 200;
                    text-decoration: underline;
                    @media screen and (max-width: 480px) {
                        font-size: 3vw;
                    }
                }
                @media screen and (max-width: 480px) {
                    font-size: 3vw;
                }
            }
        }
    }
}

.link-section {
    padding: 80px 0;
    background-color: #0F1523;
    .heading-group h2{background-color: #0F1523;}
    .box {
        background-color: #0F1523;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 300px;
        @media screen and (max-width: 480px) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }
    .card {
        height: 250px;
        /* height: max(250px, 20vw); */
        width: 300px;
        /* width: max(300px, 25vw); */
        background-color: #141A29;
        padding: 25px 35px;
        margin: 20px;
        border-radius: 20px;
        overflow: hidden;
        text-align: center;
        i {
            color: #6C94AD;
            font-size: 50px;
            margin: 50px 0;
        }
        /* p {
            text-align: center;
        } */
        .button {
            background-color: #6C94AD;
            padding: 13px 50px;
            color: white;
            /* font-size: min(25px, 1.2vw); */
            text-decoration: none;
            font-weight: 400;
            border-radius: 30px;
            transition: all 0.3s;
            border: 2px solid transparent;
            &:hover {
                background-color: transparent;
                cursor: pointer;
                border: 2px solid #C18F00;
            }
        }
    }

}

.contact-section {
    padding: 80px 0;
    text-align: center;
    h5 {
        font-size: min(30px, 1.5vw);
        font-weight: 500;
        @media screen and (max-width: 480px) {
            font-size: 5vw;
        }
    }
    p {
        font-size: min(30px, 1.2vw);
        font-weight: 200;
        padding: 10px 0 35px;
        @media screen and (max-width: 480px) {
            font-size: 4.2vw;
        }
    }
    .mail {
        width: min(600px, 28vw);
        padding: 10px 0 25px;
        @media screen and (max-width: 480px) {
            width: 80vw;
        }
    }
}

footer {
    background-color: #0F1523;
    padding: 50px;
    text-align: center;
    p {
        font-size: min(30px, 1vw);
        background-color: transparent;
        padding-bottom: 10px;
        font-weight: 200;
        @media screen and (max-width: 480px) {
            font-size: 2.5vw;
        }
    }
}